#getJokeButton {
  background-color: green;
  border: none;
  font-size: large;
  border: 1px solid lightcoral;
  color: white;
  padding: 10px;
  border-radius: 3px;
  width: 500px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
  margin-top: 15px;
}

#getJokeButton:hover {
  background: goldenrod;
}
